#about-me{
    width: 100vw;
    background-color: rgba(148, 148, 148, 0.26);
    text-align: center;
    padding-bottom: 10vh;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.274);

    h1{
        padding-top: 2vh;
        font-size: 3rem;
    }
    >p{
        width: 80%;
        padding-top: 2vh;
        font-size: 1.5rem;
        border-bottom: 1px solid black;
        margin: auto;
    }

    >span{
        padding-top: 5vh;
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        div{

            width: 28%;

            p{
                font-size: 1.25rem;
            }
            img{
                width: 100px;
                height: 100px;
                margin: 10px;

            }
        }
    }

}

@media screen and (max-width:1200px){
    #about-me >span{
        flex-direction: column;
        div{
            width: 100%;
            margin: auto;
            justify-content: center;
            text-align: center;
            padding-bottom: 5vh;
            img{
                width: 200px;
                height: 200px;
            }
        }
    }

}
