#footer{
    margin: auto;
    background-color: grey;
    display: flex;
    justify-content: space-between;

    >h1{
        padding-right: 10vw;
        font-size: 1.5rem;
        padding-top: 20px;
        color: white;
    }
    >span{
        padding: 10px;
        display: flex;
        width: 20%;
        justify-content: space-around;

        p{
            font-size: 2rem;
            padding-left: 10vw;
            padding-right: 5vw;
        }

        a img{
            width: 35px;
            height: 35px;
            margin: 10px;
        }
    }
}