@keyframes slide-in {
	0% {
		height: 0%;
	}

	100% {
		height: 100%;
	}
}

@keyframes slide-out {
	0% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}


#portfolio{
    width: 80vw;
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
    padding-bottom: 10vh;

    >div:first-child {
       display: flex;

        div{
            margin: 25px;
            margin-top: 35px;;
            width: 30vw;
            height: 5px;
        }
        h1{
            font-size: 3rem;
            font-weight: bold;
        }
    }

    #projects-list{
        padding-top: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 350px;
        grid-gap: 3px;

        .project{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0;
            contain: strict;
            color: white;
            border: 1px solid grey;
            h1,h2{
                padding-top: 10px;
            }
            ul{
                padding-bottom: 5%;
            }

            li{
                list-style: none;
                font-size: 1.2rem;
                font-weight: bold;
            }

            a{
                font-size: 1.2rem;
                margin: 40px;
                padding: 10px;
                padding-bottom: 3px;
                font-weight: bold;
                text-decoration: none;
                color: white;
                border-bottom: 5px solid black;

                &:hover{
                    border-bottom: 5px solid red;
                }
            }
        }

        .project1{
            background-image: url(../media/pictures/calc_project.PNG);
        }

        .project2{
            background-image: url(../media/pictures/budgetary_app.PNG);
        }

        .project3{
            background-image: url(../media/pictures/portfolio_website.PNG);
        }

        .project4{
            background-image: url(../media/pictures/todolist.PNG);
        }
    }
}

.project-cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
	width: 100%;
	animation-name: slide-in;
	animation-duration: 0.5s;
	height: 100%;
}


.project:hover {

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);

    > .project-cover {
        animation-name: slide-out;
        animation-duration: 0.5s;
        height: 0;

    }
}


@media screen and (max-width:1200px){
    #portfolio #projects-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1024px){
    #portfolio #projects-list{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;

    }
}