@keyframes slide-in {
	0% {
		height: 0%;
	}

	100% {
		height: 100%;
	}
}

@keyframes slide-out {
	0% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}


#portfolio{
    width: 80vw;
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
    padding-bottom: 10vh;

    >div:first-child {
       display: flex;

        div{
            margin: 25px;
            margin-top: 35px;;
            width: 30vw;
            height: 5px;
            background-color: rgba(0, 0, 0, 0.541);
        }
        h1{
            font-size: 3rem;
            font-weight: bold;
        }
    }

    #projects-list{
        padding-top: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        grid-gap: 5px;

        .project{
            opacity: 0;
            background-color: brown;
            contain: strict;
            ul{
                padding-bottom: 5%;
            }

            li{
                list-style: none;
                font-size: 1.2rem;
            }

            a{
                font-size: 1.2rem;
                padding: 20px;
                padding-bottom: 5px;
                color: black;
                font-weight: bold;
                text-decoration: none;

                &:hover{
                    color: white;
                    border-bottom: 2px solid red;
                }
            }
        }
    }
}

.project-cover{
    height: 100%;
	width: 100%;
	background-color: grey;
	animation-name: slide-in;
	animation-duration: 0.5s;
	height: 100%;
	z-index: 999;
}


.project:hover > .project-cover {
	animation-name: slide-out;
	animation-duration: 0.5s;
	height: 0%;
}


@media screen and (max-width:1200px){
    #portfolio #projects-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1024px){
    #portfolio #projects-list{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;

    }
}