@keyframes slide-in {
	0% {
		height: 0%;
	}

	100% {
		height: 100%;
	}
}

@keyframes slide-out {
	0% {
		height: 100%;
	}

	100% {
		height: 0%;
	}
}


#portfolio{
    width: 70vw;
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
    padding-bottom: 10vh;

    >h1{
        font-size: 5rem;
    }

    #projects-list{
        padding-top: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        grid-gap: 20px;

        .project{
            background-color: brown;
            contain: strict;
            li{
                list-style: none;
                font-size: 1.2rem;
            }
        }
    }
}

.project-cover{
    height: 100%;
	width: 100%;
	background-color: grey;
	animation-name: slide-in;
	animation-duration: 0.5s;
	height: 100%;
	z-index: 999;
}


.project:hover > .project-cover {
	animation-name: slide-out;
	animation-duration: 0.5s;
	height: 0%;
}


